* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}


header {
  position: fixed;
  top: 0;

  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;




  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;



    .logo {
      color: #000;
      font-size: 30px;
      font-weight: 900;
    }

    nav {
      ul {
        display: flex;
        list-style: none;
        li {
          margin-left: 20px;
          a {
            color: #000;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.hero {
  background-image: url("../images/hero.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    text-align: center;
    h1 {
      color: #fff;
      font-size: 50px;
      font-weight: bold;
    }
    p {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.services {
  background-color: #efefef;
  padding: 50px;
  padding-top: 50px;
  text-align: center;
  line-height: 200%;

  h2 {
    color: #000;
    font-size: 40px;
    font-weight: bold;
  }

  .services-container {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 25px;

    .service {
      width: 25%;
      background-color: burlywood;
      padding: 25px;
      border-radius: 10px;
      height: 200px;

      .icon {
        font-size: 50px;
        color: #000;
      }
      h3 {
        color: #000;
        font-size: 30px;
        font-weight: bold;
      }
      p {
        color: #000;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}

.about {
  background-color: #fff;
  padding: 25px;
  text-align: center;

  h2 {
    color: #000;
    font-size: 40px;
    font-weight: bold;
  }
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    gap: 50px;
    .about-text {
      width: 50%;

      p {
        color: #000;
        font-size: 15px;
        font-weight: 200;
        line-height: 210%;
        margin-bottom: 25px;
        text-align: justify;
      }
    }
    .about-image {
      width: 50%;
      img {
        width: 100%;
        border-radius: 25px;
      }
    }
  }
}

.contact
{
  background-color: burlywood;
  padding: 25px;
  text-align: center;

  h2 {
    color: #000;
    font-size: 40px;
    font-weight: bold;
  }
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    gap: 50px;
    .contact-text {
      width: 50%;

      p {
        color: #000;
        font-size: 15px;
        font-weight: 200;
        line-height: 210%;
        margin-bottom: 25px;
        text-align: justify;
      }
    }
    .contact-form {
      width: 50%;
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #000;
        border-radius: 5px;
      }
      textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #000;
        border-radius: 5px;
      }
      button {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        background-color: #000;
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        line-height: 210%;
        margin-bottom: 25px;
        text-align: justify;
      }
    }
  }
}

footer {
  background-color: #333;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  .container {
    display: flex;
    justify-content: space-between;
  }

  a:link,
  a:visited {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
  }
}


.stickyAlert
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 999;
  color: #cc0000;
  font-size: .8rem;
  margin: 20px;
}